
#changePassword{ min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -53px; } #page {	z-index: 1;	width: 100%;	max-width: 1200px;	height: 100%; background-image: none;	border-width: 0px;	border-color: #000000;	background-color: transparent;	padding-bottom: 0px;	margin-left: auto;	margin-right: auto;}
#page_position_content{	margin-bottom: -4px;	width: 100%;}
#u8521-1{	z-index: 47;	max-width: 600px;	min-height: 460px;	background-color: transparent;	line-height: 25px;	font-size: 18px;	margin-top: 10px;	margin-left: auto;	margin-right: auto;}
#u8522-1{  text-align: left;  line-height: 3;  font-family: lato,sans-serif;  font-weight: 300;  font-size: 30px;}
#fieldsAlert{  color: #D2008F;  font-size: 0.9em;  float: right;}
#changePasswordSubmit{  background-color: transparent;  cursor: pointer;  float: right;}
#overlay{ background-color: white; display: none; height: 110%; left: 0; opacity: 0.9; position: absolute; top: 0; width: 100%; z-index: 300; }

.input1{  box-shadow: 1px 1px;  width: 90% !important;}
select {  box-shadow: 1px 1px;  width: 90% !important;}

.pink{color: #D2008F;}

tr > td{  padding-bottom: 1em;}

@media screen and (-webkit-min-device-pixel-ratio:0) { #page{ min-height: 614px; } }