#u25504
{
	background-color: transparent;
}

#u82
{
	background-color: #B2B2B2;
}

#u219-16
{
	vertical-align: top;
	background-color: transparent;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u219-2,#u219-4,#u219-6,#u219-8,#u219-10,#u219-12
{
	color: #0085C6;
}

#u223-4
{
	background-color: transparent;
	text-align: right;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 29px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u223
{
	font-family: '__FontAwesome_5';
	font-weight: 400;
}
