html{ font-size: 1em; }
body { color: #606060; font-family: 'Lato', sans-serif; font-size: 1em; font-weight:normal; letter-spacing: 0.05em; line-height:140%; margin: 0 auto 20px; }

#resetBackground { background-image: url('/images/fotolia_99608333.jpg'); background-position: center; height: 950px; opacity: 0.5; position: absolute; top: 0px; width: 100%; }
#header{ margin: auto; max-width: 960px; }
#wrapper{ margin: auto; max-width: 960px; }
#resetArea{ background: white; border: gray; border-style: solid; border-width: 1pt; height: auto; margin: auto; margin-top: 7%; max-width: 580px; min-width: 535px; position: fixed; }
#resetTop{ font-size:1.1em; height:65px; margin: 0 auto; padding:30px 40px 0; }
#resetHeader{ text-align: left; line-height: 3; font-family: lato,sans-serif; font-weight: 300; font-size: 30px; }
#resetBorder{ margin:auto; padding: 40px; }
#disclaimer{ color: #626262; font-size: 14px; line-height: 17px; padding:35px 0 0; text-align: justify; }
#resetSubmit{ background: none; border: none; float: right; font-family: 'Lato', sans-serif; font-size: 1.1em; font-weight: bold; }
#arrow{ color: #0085C6; font-family: '__FontAwesome_5'; font-size: 14px; font-weight: 400; line-height: 20px; }

.input1{ background-color: transparent; border-color: #B2B2B2; border-style: solid; border-width: 1px; box-shadow: 1px 1px; width: 280px; }
*, *::before, *::after { box-sizing: content-box; }
a, a:visited, a:hover{ font-weight: 400 !important; color: #D2008F !important; text-decoration: none !important; }
input:focus, select:focus, textarea:focus, button:focus { outline: none; }
tr > td{ padding-bottom: 1em !important; }
label { display: inline; font-weight: normal; }
.text-popups{ color: #646464; font-family: lato, sans-serif; font-size: 18px; font-weight: 300; line-height: 25px; padding: 0px; }
.ui-autocomplete { max-height: 200px; overflow-x: hidden; overflow-y: auto; }

.ui-dialog .ui-dialog-titlebar{ display: none; }
.ui-dialog{ box-shadow: 4px 4px 8px rgba(0,0,0,0.25); font-family: 'Lato', sans-serif; font-size: 1.1em; font-weight: normal; }
.ui-dialog .ui-dialog-buttonpane{ border-width: 0 0 0 0 !important; }
.ui-dialog .ui-dialog-buttonpane button{ background: transparent none repeat scroll 0% 0%; border: medium none; color: #646464; font-weight: 600; }
.ui-dialog.errorMessage{ background-color: #ffffff; border-color: #b2b2b2; border-style: solid; border-width: 1px; box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25); font-weight: normal; font-size: 1.1em; font-family: 'Lato', sans-serif; height: 150px !important; left: 50% !important; margin: -50px 0 0 -125px; position: fixed !important; top: 43% !important; width: 240px !important; z-index: 1001; }
.ui-dialog.errorMessage #ajax-box #registerRquirements{ margin-top: 30px; }
.ui-dialog.errorMessage #ajax-box #invalidBuyerEmail{ margin-top: 5px; }
.ui-dialog.errorMessage .ui-resizable-handle{ display: none !important; }

.ui-widget-overlay{ background: #ffffff; height: 1000px !important; opacity: 0.8; }

@font-face{
  font-family: '__FontAwesome_5'; src: url('../fonts/fontawesome-webfont.eot'); src: local('â˜º'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.svg') format('svg'); font-weight: 400; font-style: normal; }

@media (max-width:380px){
  .container-fluid{ padding-left: 5px !important; padding-right: 5px !important; }
  #resetArea{ left: 0px; margin-top: 15px; min-width:auto !important; }  
  #resetTop{ padding: 30px 20px 0px; }  
  #resetHeader{ font-size: 25px; line-height: 1; position: absolute; width: 130px !important; }  
  #resetTop img{ width: 50px; }  
  #resetBorder { padding: 40px 0px; }    
  #resetBorder tr td:last-child{ width:60%; }  
  #resetBorder td input{ width:90%; }  
  #resetBorder td select{ height:auto !important; width:87%; padding: 2px; }
}
@media (min-width:380px) and (max-width:479px){
  .container-fluid{ padding-left: 5px !important; padding-right: 5px !important; }  
  #resetArea{ left: 0px; margin-top: 15px; min-width:auto !important; }  
  #resetTop{ padding: 30px 35px 0; }  
  #resetHeader{ font-size: 25px; }  
  #resetTop img{ width: 50px; }  
  #resetBorder { padding: 40px 15px; }  
  #resetBorder tr td:last-child{ width:60%; }  
  #resetBorder td input{ width:90%; }  
  #resetBorder td select{ height:auto !important; width:87%; padding: 2px; }
}
@media (min-width:480px) and (max-width:639px){
  #resetArea{ left:0px; min-width:auto !important; }
  #resetBorder td input{ width:90%; }  
  #resetBorder td select{ height:auto !important; padding:2px; width:90%; }
  #resetBorder tr td:last-child{ width:60%; }
}