html{ font-size: 1em; }
body { color: #606060; font-family: 'Lato', sans-serif; font-size: 1em; font-weight:normal; letter-spacing: 0.05em; line-height:140%; margin: 0 auto 0; }

#overlay{	display: none;	background-color: white;	height: 101%;	width: 100%;	top: 0;	left: 0;	position: fixed;	z-index: 700 !important;	opacity: 0.9;}
#primAgentPopupOverlay{	display: none;	background-color: white;	height: 101%;	width: 100%;	top: 0;	left: 0;	position: fixed;	z-index: 600 !important;	opacity: 0.9;}

#header{ margin: auto; max-width: 960px; }
#wrapper{ margin: auto; max-width: 960px; }
#registerBackground{ background-image: url('/images/fotolia_83811129_retouched.jpg'); background-repeat: repeat-y; height: 1170px; opacity: 0.5; position: absolute; top: 0px; width: 100%; }
#registerBackground2{ background-image: url('/images/fotolia_68256058_subscription_monthly_m.jpg'); background-repeat: repeat-y; height: 1150px; opacity: 0.5; position: absolute; top: 0px; width: 100%; }
#registrationArea{ background: white; border: gray; border-style: solid; border-width: 1pt; box-shadow: 7px 7px 7px #D1D0CE; height: 100%; margin: auto; max-width: 580px; min-width: 560px; top: 1%; }
#registrationTop{ font-size:1.1em; height:65px; margin: 0 auto; padding:30px 40px 0; }
#registrationHeader{ font-family: lato,sans-serif; font-size: 30px; font-weight: 300; line-height: 3; text-align: left; }
#registrationBorder{ margin:auto; padding: 40px 40px 0; }
#registrationBorder form td:first-child { width: 35% !important;}
#registrationBorder td:nth-child(2) { width: 65% !important;}
#registrationBorder td input.input1 { float: left; width: 90% !important;}
#registrationBorder form td select { float: left; width: 92%; border:1px solid;}
#registrationBorder .asterisk{ color: #D2008F; padding-left: 2px; }
#registrationBorder #agentMoreInfo:hover{ color: #0085C6; }
#primaryAgent{ background-image: url('/images/box_625x400.png'); height: 485px; left: 496px; position: absolute; top: 355px; width: 670px; z-index: 700; }
#primAgentText{ left: 80px; position: absolute; top: 100px; width: 550px; }
#primAgentList{ color: #0085C6; padding-left: 20px; }
#primAgentList p{ color: #606060; }
#primAgentList li{ list-style: unset !important; }
#agentList{ text-decoration: underline; color: #0085C6; }
.terms-box{ border:1px solid #cccccc; color:#333333; font-size:0.9em; height: 200px; overflow: auto; padding: 12px; width: 450px; }
#arrow{ color: #0085C6; font-family: '__FontAwesome_5'; font-size: 14px; font-weight: 400; line-height: 20px; }
#registrationSubmit{ background: none; border: none; float: right; font-family: 'Lato', sans-serif; font-size: 1.1em; font-weight: bold; }
#closePopup{ left: 640px; position: absolute; top: 85px; width: 15px; }
#moreInfoBox{ background: white none repeat scroll 0% 0%; bottom: 0; color: #0085C6; font-family: lato, sans-serif; font-size: 20pt; font-weight: bold; height: 35px; max-width: 580px; min-width: 560px; position: fixed; text-align: center; vertical-align: middle; }
#moreInfoBox span{ vertical-align: middle; }

.input1{ background-color: transparent; border-color: #B2B2B2; border-style: solid; border-width: 1px; box-shadow: 1px 1px; width: 280px; }
.input2{ border: medium none; height: 35px; width: 323px; }
.text-popups{ color: #646464; font-family: lato, sans-serif; font-size: 18px; font-weight: 300; line-height: 25px; padding: 0px; }
.ui-autocomplete { color: #646464; font-family: lato, sans-serif; font-size: 18px; font-weight: 300; line-height: 25px; max-height: 200px; overflow-x: hidden; overflow-y: auto; padding: 0px; }
.underline{ text-decoration: underline; }

select{ background-color: transparent; border-color: #B2B2B2; border-style: solid; border-width: 1px; box-shadow: 1px 1px; }
*, *::before, *::after { box-sizing: content-box; }
a, a:visited, a:hover{ color: #D2008F !important; font-weight: 400 !important; text-decoration: none !important; }
input:focus, select:focus, textarea:focus, button:focus { outline: none; }
tr > td{ padding-bottom: 1em !important; }
label{ display: inline; font-weight: normal; }
input[type="radio"], input[type="checkbox"] { -webkit-appearance: checkbox; -moz-appearance: checkbox; }

.ui-dialog.agentListPopup{ background-color: #ffffff; border-color: #b2b2b2; border-style: solid; border-width: 1px; box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25); height: auto !important; margin: -50px 0 0 -125px; max-height: 500px; overflow-y: auto;	position: fixed !important; z-index: 1001;}
.ui-dialog.agentListPopup .ui-resizable-handle{ display: none !important; }
#closeAgentListPopup{ color: #B2B2B2;	cursor: pointer; position: absolute; left: 310px; top: 0; }
#agents p{ line-height: 1.7; }

.ui-dialog .ui-dialog-titlebar{ display: none; }
.ui-dialog{ box-shadow: 4px 4px 8px rgba(0,0,0,0.25); font-weight: normal; font-size: 1.1em; font-family: 'Lato', sans-serif; z-index: 1001; }
.ui-dialog .ui-dialog-buttonpane{ border-width: 0 0 0 0 !important; }
.ui-dialog .ui-dialog-buttonpane button{ background: transparent none repeat scroll 0% 0%; border: medium none; color: #646464; font-weight: 600; }
.ui-dialog.noRegistration{ background-color: #ffffff; border-color: #b2b2b2; border-style: solid; border-width: 1px; box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25); font-family: 'Lato', sans-serif; font-size: 1.1em; font-weight: normal; height: 200px !important; left: 39% !important; position: fixed !important; top: 33% !important; width: 275px !important; z-index: 1001; }
.ui-dialog.errorMessage{ background-color: #ffffff; border-color: #b2b2b2; border-style: solid; border-width: 1px; box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25); font-family: 'Lato', sans-serif; font-size: 1.1em; font-weight: normal; height: 150px !important; left: 41% !important; position: fixed !important; top: 33% !important; width: 240px !important; z-index: 1001; }
.ui-dialog.errorMessage #ajax-box #registerRquirements{ margin-top: 30px; }
.ui-dialog.errorMessage #ajax-box #invalidBuyerEmail{ margin-top: 5px; }
.ui-dialog.errorMessage .ui-resizable-handle, .ui-dialog.noRegistration .ui-resizable-handle{ display: none !important; }

.ui-widget-overlay{ background: #ffffff; height: 1175px !important; opacity: 0.8; position: absolute; top: 0px; }

@font-face{ font-family: '__FontAwesome_5'; src: url('../fonts/fontawesome-webfont.eot'); src: local('â˜º'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.svg') format('svg'); font-weight: 400; font-style: normal; }

@media print{ .terms-box{ background: linear-gradient(transparent 150px, white); border: 1px solid #cccccc; color: #333333; font-size: 0.9em; height: 100%; overflow: auto; padding: 12px; width: 450px; } }
@media (max-width:479px){
  .container-fluid{ padding: 0 5px; }
  #registrationArea{ min-width: auto; }  
  #registrationArea div{ padding: 20px 3% 0; width: 94%; }  
  #registrationTop span{ font-size: 25px; }  
  #registrationTop img{ width: 45px; }  
  #registrationArea div#registrationBorder tr td{ font-size: 14px !important; }  
  #registrationArea div#registrationBorder tr td:last-child input{ font-size: 16px; padding: 0 2px; }  
  #registrationArea div#registrationBorder tr td:last-child select{ font-size: 16px; padding: 0 2px; width: 90%; }   
  #registrationArea div#registrationBorder tr td:last-child input[type="checkbox"]{ margin-right: 7px; width: auto; }
}
@media (min-width:480px) and (max-width:639px){
  #registrationArea{ min-width: auto; overflow: auto; }  
  #registrationArea div{ width: 82%; }  
  #registrationArea div#registrationBorder tr td:last-child input{ padding: 0 2px; width: 90%; }  
  #registrationArea div#registrationBorder tr td:last-child select{ padding: 0 2px; width: 90%; }  
  #registrationArea div#registrationBorder tr td:last-child input[type="checkbox"]{ margin-right: 7px; width: auto; }  
  #registrationArea div#registrationBorder tr td div#terms-box{ width: 90%; }
}
@media (min-width:640px) and (max-width:767px){
  #registrationArea { height: auto; position: absolute; left: 4%; }    
  #registrationArea div#registrationBorder tr td:last-child input { padding: 0 5px; }  
  #registrationArea div#registrationBorder tr td:last-child select { padding: 0 5px; width: 90%; }  
  #registrationArea div#registrationBorder tr td:last-child input[type="checkbox"] { margin-right: 7px; width: auto; }
}
@media (min-width:768px) and (max-width:800px){
  #registrationArea{ height: auto; left: 15%; position: absolute; }  
  #registrationArea div#registrationBorder tr td:last-child input{ padding: 0 5px; width: 70%; }
  #registrationArea div#registrationBorder tr td:last-child select{ padding: 0 5px; width: 90%; }  
  #registrationArea div#registrationBorder tr td:last-child input[type="radio"]{ margin-right: 7px; width: auto; }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
  #moreInfoBox{ top: 929px; }
  #primaryAgent { background-size: 580px 550px; height: 550px; left: 203px; top: 350px; width: 560px; }
  #closePopup { left: 525px; top: 95px; }
  #primAgentText { width: 435px; }
  #registrationArea input[type="radio"]{ margin: -13px 10px 0 0; vertical-align: inherit; -ms-transform: scale(1.5); -moz-transform: scale(1.5); -webkit-transform: scale(1.5); -o-transform: scale(1.5); }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape){
  #primaryAgent { left: 334px; }
  #registrationArea input[type="radio"]{ margin: -13px 10px 0 0; vertical-align: inherit; -ms-transform: scale(1.5); -moz-transform: scale(1.5); -webkit-transform: scale(1.5); -o-transform: scale(1.5); }
}