
/* CSS Document */
body
{
  -webkit-font-smoothing: antialiased;
}
#listings
{
  top:201px;
}
#listings #results-tab a
{
  top:5px !important;
}
#list_vws
{
  margin-left:-3% !important;
}
.login-options,
.login-options span,
.login-options p,
.buyer-row,
.menu-options,
#listings .screen,
.queued-row th,
.addBuyer,
.addBuyer th
{
  font-weight:normal !important;
}

#list, #gview_list, .ui-jqgrid-bdiv, #gbox_list
{
  top:4px;
}
#listings #results-tab a 
{
  left: -19px;
}
#listings.ui-tabs .ui-tabs-nav li a
{
  font-size:15px;
}
@media only screen and (min-device-width : 501px) and (max-device-width : 1024px){
  #listings #results-tab a {
    top: 0 !important;
  }
  #listings #results-tab a {
    left: -10px;
  }
}