.version.sellers_info_page{ background-color:#9BAAFB; color:#000008; }

#sellHome{ min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -53px; }
#page{ background-color:transparent; background-image:none; border-color:#000000; border-width:0px; margin-left:auto; margin-right:auto; max-width:1200px; min-height:900px; padding-bottom:0px; width:100%; z-index:1; }
#page_position_content{ margin-bottom:-11px; padding-top:7px; width:100%; }

#backBtn{ margin-right: -72.2px; }
#backBtn .fa.fa-chevron-left{ line-height: 2; }

.col-md-5ths{ border-bottom: none; border-left: none; border-right: 1px solid #B2B2B2; border-top: none; display: inline-block; width: 234px; }
.col-md-5ths:last-child{ border-right: none; }
.panel{ border: none; box-shadow: none; margin-bottom: 0 !important; }
.panel-body{ min-height: 381px; padding: 0 15px; }
.first-panel{ padding-left: 0; }

#pu106-6{ margin-top:37px; width:100%; z-index:25; }
#u106-6-bw{ min-height:52px; width: 100%; z-index:25; }
#u106-6{ background-color:transparent; line-height:36px; min-height:52px; z-index:25; }
#u124-15{ background-color:transparent; color:#7F7F7F; font-size:20px; margin-bottom: 54px; margin-top:22px; min-height:7px; position:relative; text-align:center; width:100%; z-index:86; }
#u124-6,#u124-7,#u124-11{ line-height:21px; }
#u124-13{ line-height:30px; }

#u116{ background-color:transparent; border-color:transparent; border-width:0px; margin-right:-10000px; margin-top:2px; position:relative; width:216px; z-index:57; }
#u117-11{ background-color:transparent; left:1px; margin-right:-10000px; margin-top:16px; position:relative; width:215px; z-index:58; }
#u118{ background-color:transparent; margin-right:-10000px; position:relative; width:75px; z-index:69; }
#u119{ display:block; z-index:70; }

#u112{ background-color:transparent; border-color:transparent; border-width:0px; margin-right:-10000px; margin-top:2px; position:relative; width:218px; z-index:36; }
#u115-18{ background-color:transparent; left:1px; margin-right:-10000px; margin-top:16px; position:relative; width:217px; z-index:37; }
#u115-7,#u115-11{ color:#DD6000; font-family:lato, sans-serif; font-weight:700; }
#u115-14{ color:#DD6000; }
#u113{ background-color:transparent; margin-right:-10000px; position:relative; width:75px; z-index:55; }
#u114{ display:block; z-index:56; }

#u129{ background-color:transparent; border-color:transparent; border-width:0px; margin-top:2px; position:relative; width:215px; z-index:117; }
#u132-13{ background-color:transparent; margin-right:-10000px; margin-top:16px; position:relative; width:215px; z-index:118; }
#u132-7{ color:#569243; font-family:lato, sans-serif; font-weight:700; }
#u130{ background-color:transparent; margin-right:-10000px; position:relative; width:75px; z-index:131; }
#u131{ display:block; z-index:132; }

#u125{ background-color:transparent; border-color:transparent; border-width:0px; position:relative; width:215px; z-index:101; }
#u126-13{ background-color: transparent; margin-right:-10000px; margin-top:16px; position:relative; width:215px; z-index:102; }
#u126-7{ color:#7E499E; font-family:lato, sans-serif; font-weight:700; }
#u127{ background-color:transparent; margin-right:-10000px; position:relative; width:75px; z-index:115; }
#u128{ display:block; z-index:116; }

#u120{ border-color:transparent; border-width:0px; background-color:transparent; margin-top:2px; position:relative; width:215px; z-index:71; }
#u121-12{ background-color:transparent; margin-right:-10000px; margin-top:16px; position:relative; width:215px; z-index:72; }
#u122{ background-color:transparent; left:2px; margin-right:-10000px; position:relative; width:75px; z-index:84; }
#u123{ display:block; z-index:85; }

#u121-7,#u126-8{ color:#D2008F; font-family:lato, sans-serif; font-weight:700; }
#u115-2,#u115-4,#u115-5,#u117-2,#u117-4,#u121-2,#u121-4,#u121-5,#u126-2,#u126-4,#u126-5,#u132-2,#u132-4{ color:#7F7F7F; font-size:20px; font-family:lato, sans-serif; font-weight:700; line-height:21px; }
#u106,#u106-3,#u124-2,#u124-4,#u124-9,#u117-7{ color:#0085C6; font-family:lato, sans-serif; font-weight:700; }

@media (max-width: 700px){ #backBtn{ margin-top: -40px; } }
@media (max-width: 550px){ #backBtn{ margin-top: -75px; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
	#col-three{ border-right: none; }
	#col-four{ margin-top: 30px; }
	.col-md-5ths{ width: 245px; }
}