html{ font-size: 1em; }
body { color: #606060; font-family: 'Lato', sans-serif; font-size: 1em; font-weight:normal; letter-spacing: 0.05em; line-height:140%; margin: 0 auto; }

#verificationBackground1 { background-image: url('../../images/adobestock_823928652.jpg'); background-size: 100% 100%; height: 100%; opacity: 0.5; position: absolute; top: 0px; width: 100%; }
#verificationBackground2 { background-image: url('../../images/fotolia_82688508.jpg'); background-size: 100% 100%; height: 100%; opacity: 0.5; position: absolute; top: 0px; width: 100%; }
#header{ margin: auto; max-width: 960px; }
#wrapper{ margin: auto; max-width: 960px; }
#verification, #wrapper, .container-fluid, .row, .col-md-7.col-sm-10.col-xs-11{ height: 100%; }
/* #verificationArea.short{ background: white; border: gray; border-style: solid; border-width: 1pt; height: 100%; margin: auto; margin-bottom: 75px; margin-top: 15%; max-width: 580px; min-width: 560px; } */
#verificationArea.short{ background: white; border: gray; border-style: solid; border-width: 1pt; margin: 0 auto; max-width: 580px; min-width: 560px; position: absolute; top: 50%; transform: translateY(-50%); }
/*#verificationArea.long, #buyerInformationArea.long, #agentInformationArea.long{ background: white; border: gray; border-style: solid; border-width: 1pt; height: 100%; margin: auto; margin-bottom: 75px; margin-top: 6%; max-width: 580px; min-width: 560px; }*/
#verificationArea.long, #buyerInformationArea.long, #agentInformationArea.long{ background: white; border: gray; border-style: solid; border-width: 1pt; margin: 0 auto; max-width: 580px; min-width: 560px; position: absolute; top: 50%; transform: translateY(-50%); }
#verificationTop, #buyerInformationTop, #agentInformationTop{ font-size:1.1em; height:65px; margin: 0 auto; padding:30px 40px 0; }
#verificationHeader, #buyerInformationHeader, #agentInformationHeader{ font-family: lato,sans-serif; font-size: 30px; font-weight: 300; line-height: 3; text-align: left; }
#verificationBorder, #buyerInformationBorder, #agentInformationBorder{ margin:auto; padding: 40px 40px 0; }
#verificationArea select, #buyerInformationArea select{ background-color: transparent; border-color: #B2B2B2; border-style: solid; border-width: 1px; box-shadow: 1px 1px; height: 30px; width:280px; }
#verificationArea select.macFF, #buyerInformationArea select.macFF{ width:260px; }
#disclaimer{ color: #626262; font-size: 14px; line-height: 17px; padding:35px 0 0; text-align: justify; }

#bio{ vertical-align: top; }
#backBtn{ background: none; border: none; font-family: 'Lato', sans-serif; font-size: 1.1em !important; font-weight: bold; }
a:hover #backBtn, #backBtn:hover{ color: #646464 !important; }
#verificationSubmit, #verificationVerify, #verifiedButton, #resetPasswordSubmit, #editBuyerInformationSubmit, #editAgentInformationSubmit{ background: none; border: none; float: right; font-family: 'Lato', sans-serif; font-size: 1.1em; font-weight: bold; }
#arrow{ color: #0085C6; font-family: '__FontAwesome_5'; font-size: 14px; font-weight: 400; line-height: 20px; }
.fa.fa-check{ color: #0085C6; font-family: '__FontAwesome_5'; font-size: 24px; font-weight: 400; line-height: 34px; }

#editOptions{ cursor: pointer; float: right; }
#editOptions .indent{ margin-right: 10px; }
#editOptions #editBuyerInformationSubmit, #editOptions #editAgentInformationSubmit{ font-weight: normal; }
#editOptions .fa.fa-check, #editOptions .fa.fa-circle-thin{ color: #646464; font-family: '__FontAwesome_5'; line-height: 25px; }

.input1{ background-color: transparent; border-color: #B2B2B2; border-style: solid; border-width: 1px; box-shadow: 1px 1px; width: 280px; }
textarea{ height: 100px !important; }
*, *::before, *::after { box-sizing: content-box; }
a, a:visited, a:hover{ color: #D2008F !important; font-weight: 400 !important; text-decoration: none !important; }
input:focus, select:focus, textarea:focus, button:focus { outline: none; }
tr > td{ padding-bottom: 1em !important; }
label { display: inline; font-weight: normal; }
.text-popups{ color: #646464; font-family: lato, sans-serif; font-size: 18px; font-weight: 300; line-height: 25px; padding: 0px; }
.ui-autocomplete { max-height: 200px; overflow-x: hidden; overflow-y: auto; }

@font-face{ font-family: '__FontAwesome_5'; src: url('../fonts/fontawesome-webfont.eot'); src: local('â˜º'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.svg') format('svg'); font-weight: 400; font-style: normal; }
@media (max-width:479px){
  .container-fluid{ padding-left: 5px !important; padding-right: 5px !important; }
  #verificationArea, #buyerInformationArea, #agentInformationArea{ margin-top: 15px; min-width:auto !important; }
  #verificationTop, #verificationBorder, #buyerInformationTop, #buyerInformationBorder, #agentInformationTop, #agentInformationBorder{ padding:15px 15px 0; }
  #verificationBorder tr td:last-child, #buyerInformationBorder tr td:last-child, #agentInformationBorder tr td:last-child{ width:60%; }  
  #verificationBorder td input, #buyerInformationBorder td input, #agentInformationBorder td input{ width:90%; } 
  #verificationBorder td select, #buyerInformationBorder td select{ height:auto !important; padding: 2px; width:87%; }
  #backBtn{ text-align: left; width: auto; }
}
@media (min-width:480px) and (max-width:639px){
  #verificationArea, #buyerInformationArea, #agentInformationArea{ min-width:auto !important; }  
  #verificationTop, #verificationBorder, #buyerInformationTop, #buyerInformationBorder, #agentInformationTop, #agentInformationBorder{ padding:15px 15px 0; }  
  #verificationBorder td input, #buyerInformation td input, #agentInformationBorder td input{ width:90%; }  
  #verificationBorder td select, #buyerInformation td select{ height:auto !important; padding:2px; width:90%; }  
  #verificationBorder tr td:last-child, #buyerInformation tr td:last-child, #agentInformationBorder tr td:last-child{ width:60%; }
  #backBtn{ text-align: left; width: auto; }
}
@media (min-width:640px) and (max-width:767px){
  #verificationArea, #buyerInformationArea, #agentInformationArea{ height: auto !important; left: 4%; margin-top: 15px; position: absolute; }  
  #verificationBorder td input, #buyerInformation td input, #agentInformationBorder td input{ width:90%; }  
  #verificationBorder td select, #buyerInformation td select{ height: auto !important; padding: 2px; width: 89%; }  
  #verificationBorder tr td:last-child, #buyerInformation tr td:last-child, #agentInformationBorder tr td:last-child{ width:60%; }  
  #disclaimer{ float: left; text-align: justify; width: 100%; }
}
@media (min-width:768px) and (max-width:800px){
  #verificationArea, #buyerInformationArea, #agentInformationArea{ height: auto !important; left: 15%; position: absolute; }  
  #verificationBorder td input, #buyerInformation td input, #agentInformationBorder td input{ width: 90%; }  
  #verificationBorder td select, #buyerInformation td select { height: auto !important; padding: 2px; width: 89%; } 
  #verificationBorder tr td:last-child, #buyerInformation tr td:last-child, #agentInformationBorder tr td:last-child{ width:60%; }
}